@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background: #f8fafc;
  color: #111827;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.mapboxgl-popup-tip {
  border-top-color: white !important;
}

.mapboxgl-popup-close-button {
  top: 8px;
  right: 10px;
  font-size: 18px;
  color: #6b7280;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.mapboxgl-popup-close-button:hover {
  background: #f3f4f6;
  color: #111827;
}
