@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background: #f8fafc;
  color: #111827;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
